<div class="row">

  <!-- Total Students Card -->
  <div class="col-md-4 my-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Total Students</h5>
        <p class="card-text">You have 200 students enrolled</p>
      </div>
    </div>
  </div>
  <!-- Upcoming Classes Card -->
  <div class="col-md-4 my-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Upcoming Classes</h5>
        <p class="card-text">You have 5 classes this week</p>
      </div>
    </div>
  </div>
  <!-- Recent Activity Card -->
  <div class="col-md-12 my-3">
    <div class="card cardVerde">
      <div class="card-body">
        <h5 class="card-title">Recent Activity</h5>
        <p class="card-text">You graded the assignments for Course 101.</p>
        <p class="card-text">You updated the syllabus for Course 202.</p>
        <p class="card-text">You posted new resources for Course 303.</p>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>